{% extends "layouts/site.layout.html.twig" %}

{% block content %}

    <div class="form-group">
    {% if  app.user and ('ROLE_USER' in app.user.roles) %}
        <a href="{{ path('create_news') }}">Добавить новость</a>
        <a href="{{ path('fos_user_security_logout') }}">выйти</a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">Войти</a>
        <a href="{{ path('fos_user_registration_register') }}">Регистрация</a>
    {% endif %}

    {% for onenews in news %}
        <h1>sjkask</h1>
        {% if app.user and ('ROLE_ADMIN' in app.user.roles) %}
        <div style="margin-left: 50px; margin-right: 50px;">
            <h3> {{ onenews.title }}</h3>
            <p> Дата создания {{ onenews.createAt |date('Y-m-d') }}</p>
        {% if onenews.dateOfPublication != null %}
            <p> Дата публикации{{ onenews.dateOfPublication |date('Y-m-d') }}</p>
            {% else %}
                <p> Нет даты публикации</p>
                {% endif %}
            <p>Новость</p>
            <p>  {{ onenews.description }}</p>
            <p style="float: right; margin-right: 60px" > Имя автора : {{ onenews.username }}</p>
            <p style="float: right; margin-right: 60px" > Категория  : {{ onenews.category}}</p>
            <br>
            <p>Комментарии</p>

            <div class="comment_user-{{ onenews.id }}">
                {% for comment in onenews.comments %}
                    <p>{{ comment.comment }}</p>
                    <p style="margin-left: 700px" > {{ comment.user }} - {{ comment.createAt |date('Y-m-d') }}</p>
                    <hr>
                {% endfor %}
            </div>
            <div class="error-message-{{ onenews.id }}"></div>
            {% if app.user and ('ROLE_USER' in app.user.roles) or app.user and ('ROLE_ADMIN' in app.user.roles) %}
            <textarea class="form-control comment"  rows="5" data-id_news="{{ onenews.id }}"></textarea>
            <input type="submit" class="submit_coment" value="Сохранить" data-id_news="{{ onenews.id }}">
            {% endif %}
            {% if app.user and ('ROLE_USER' in app.user.roles) %}
                <a href="{{ path('news_show', {'id' : onenews.id}) }}">Показать</a>
            {% endif %}
        </div>
        </div>

        {% elseif onenews.dateOfPublication != null  and  date(onenews.dateOfPublication) >= date("now") %}

            <div style="margin-left: 200px; margin-right: 200px; ">
                <h3> {{ onenews.title }}</h3>
                <p> Дата создания {{ onenews.createAt |date('Y-m-d') }}</p>
                <p> Дата дата публикации {{ onenews.dateOfPublication |date('Y-m-d') }}</p>
                <p>Новость</p>
                <p>  {{ onenews.description }}</p>
                <p style="float: right; margin-right: 60px" > Имя автора : {{ onenews.username }}</p>
                <br>
                <p>Комментарии</p>
                <div class="comment_user-{{ onenews.id }}">
                    {% for comment in onenews.comments %}
                        <p>{{ comment.comment }}</p>
                        <p style="margin-left: 700px" > {{ comment.user }} - {{ comment.createAt |date('Y-m-d') }}</p>
                        <hr>
                    {% endfor %}
                </div>
                <div class="error-message-{{ onenews.id }}"></div>
                {% if app.user and ('ROLE_USER' in app.user.roles) or app.user and ('ROLE_ADMIN' in app.user.roles) %}
                    <textarea class="form-control comment"  rows="5" data-id_news="{{ onenews.id }}"></textarea>
                    <input type="submit" class="submit_coment" value="Сохранить" data-id_news="{{ onenews.id }}">
                {% endif %}
                {% if app.user and ('ROLE_USER' in app.user.roles) %}
                    <a href="{{ path('news_show', {'id' : onenews.id}) }}">Показать</a>
                {% endif %}
            </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}
 {% block Javascript %}
     <script>
         $(function () {
             $('.submit_coment').on('click', function (e) {
                 e.preventDefault();
                 var newsId = $(this).data('id_news');
                 var comment = $(this).parent().find('.comment').val();
                 console.log()
                 var datas = {
                     newsId: newsId,
                     comment: comment
                 };

                 if (comment === '') {
                     var error = $(".error-message-" + newsId);
                     var message = $('<p style="color: red;" class="error" ">Вы не ввели данные</p>');
                     error.append(message);
                     setTimeout(function () {
                         $('.error').remove();
                     }, 2000);

                 } else {
                     $.post("{{ path('create_comment') }}", datas, function (response) {
                         if (response) {
                             var comment_div = 'comment_user-' + datas.newsId;
                             var date = new Date().toISOString().slice(0,10);;
                             $('.' + comment_div).append('<p>'+ datas.comment +'</p>' +
                                 ' <p style="margin-left: 700px"" >'+  response +' - '+ date + '</p>')
                             $('.comment').val('');
                         }
                     })
                 }
             })

         })
     </script>
 {% endblock %}