{% extends 'layouts/site.layout.html.twig' %}

{% block content %}
    <div class="container">
    <a href="{{ path('fos_user_security_logout') }}" style="float: right">Выйти</a>
    <br>
    <a href="{{ path('main_index') }}" style="float: right">Домашняя страница</a>
    <h3>Заголовок :</h3>
    <p>{{ news.title }}</p>
    <h3>Оаписание:</h3>
    <p>{{ news.description }}</p>
    <h3>Дата создания</h3>
    <p>{{ news.createAt |date('Y-m-d') }}</p>
    <h3>Дата публикации</h3>
        {% if news.dateOfPublication == null  %}
            <form action="{{ path('news_public',  {'id' : news.id}) }}" method="post">
                <input type="date" name="calendar"
                       min="2018-08-01" >
                <input type="submit" value="сохранить">
            </form>
        {% else %}
            <p>{{ news.dateOfPublication |date('Y-m-d') }}</p>
        {% endif %}
    <h3>Категория</h3>
    <p>{{ news.categories[0].title }}</p>
    {#<h3>Тэги</h3>#}
    {#<p>{{ news.tags[0].title }}</p>#}
    </div>
{% endblock %}

{% block Javascript %}

{% endblock %}

