<html>
    <head>
        <title>Base page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
            {% block Javascript %}
            {% endblock %}
    </body>
</html>