{% extends "layouts/site.layout.html.twig" %}

{% block content %}
    <div class="form-group container ">
        <h1>Создание новости</h1>
        <a href="{{ path('fos_user_security_logout') }}" style="float: right">Выйти</a>
        <br>
        <a href="{{ path('main_index') }}" style="float: right">Домашняя страница</a>
    <form method="post">
        <label for="news_title"  >Заголовок</label>
        <br>
        <input id="news_title" class="form-control" type="text" name="title" >
        <br>
        <label for="news_description" >Введите новость</label>
        <br>
        <textarea id="news_description" class="form-control" rows="5" name="description" ></textarea>
        <br>
        <label for="categories">Категория</label>
        <br>
        <select id="categories" class="form-control" name="category">
            {% for category in categories %}
                <option class="category" value="{{ category.id }}" >{{ category.title }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="tags" >Тэги</label>
        <br>
        <select id="tags" name="tags" class="form-control">
            <option class="tags" name="tags" value="null" >-------</option>
            {% for tag in tags %}
                <option class="tags" value="{{ tag.id }}">{{ tag.title }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <input type="submit" class="btn btn-primary" name="save" value="Сохранить" >
    </form>
    </div>

{% endblock %}